body {
    font-family: Arial, sans-serif;
    background-color: #f4d3a9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d9b382;
    color: black;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

h1, h2 {
    color: black;
}

section {
    background-color: #d9b382;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-info, .trending-groups {
    width: 25%;
}

.posts {
    width: 45%;
}

.post {
    background-color: #f2b889;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.actions button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #d9b382;
    color: black;
}
